* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
}

.calendar {
    position: relative;
    width: 200px;
    background: white;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 10px 15px rgba(0,0,0,.5);
}

.calendar #monthName {
    position: relative;
    background: coral;
    color: white;
    padding: 15px 10px;
    font-size: 30px;
    font-weight: 700;
}

.calendar #dayName {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: grey;
}

.calendar #dayNumber {
    font-size: 90px;
    font-weight: 900;
    color: black;
    line-height: 1em;
}

.calendar #year {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    color: grey;
}